.padding {
  padding: 0 20%;
}

.texto {
  text-align: justify;
  text-justify: inter-word;
}

.image {
  height: 25vw;
}

.audios {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.black-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 5em;
  height: 5em;
  border-width: 1.3em;
}